*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.statement1{
    border: 1px solid;
    border-radius: 10px;
    width: 100%;
}
.statement2{
    border: 1px solid;
    width: 100%;
    border-radius: 10px;
    background-color: #003049;
    padding: 13px;
} 
.statement3{
    border: 1px solid;
    width: 100% ;
    min-height: 251px;
    border-radius: 10px;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex: 1 0 auto;
}