*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.statement{
    border: 1px solid;
    min-height: 123px;
    border-radius: 10px;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex: 1 0 auto;
}