.statement{
    height: 100px;
}
.clear{
    border: 0;
    width: 10.350%;
    height: 60px;
}
/* .number2{
    border: 0;
    width: 5%;
    height: 120px;
    background-color: #023047;
} */
button{
    width: 100%;
    border: 0;
    height: 60px;
    background-color: #023047;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex: 1 0 auto;
}
#output{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 10px;
}
.calculator{
    width: 25%;
}
@media screen and (max-width:1200px){
    .calculator{
        width: 30%;
    }
}
@media screen and (max-width:991px){
    .calculator{
        width: 35%;
    }
}
@media screen and (max-width:900px){
    .calculator{
        width: 40%;
    }
}
@media screen and (max-width:800px){
    .calculator{
        width: 45%;
    }
}
@media screen and (max-width:700px){
    .calculator{
        width: 55%;
    }
}
@media screen and (max-width:600px){
    .calculator{
        width: 60%;
    }
}
@media screen and (max-width:550px){
    .calculator{
        width: 65%;
    }
}
@media screen and (max-width:500px){
    .calculator{
        width: 70%;
    }
}
@media screen and (max-width:450px){
    .calculator{
        width: 75%;
    }
}